<div class="wrapper" style="z-index:100;position: sticky;top: 0;width: 100%;">
    <div class="section">
        <div class="top_navbar">
            <div class="hamburger">
                <a href="#">
                    <i class="fas fa-bars"></i>
                </a>
            </div>
        </div>
    </div>
</div>