<div class="wrapper">
        
        <div class="sidebar">
            <div class="profile">
                <img src="https://cdn1.vectorstock.com/i/1000x1000/11/10/admin-icon-male-person-profile-avatar-with-gear-vector-25811110.jpg" alt="profile_picture">
                <h3>hai, {{admin.name}}</h3>
                <p>Welcome</p>
            </div>
            <ul>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-desktop"></i></span>
                        <span class="item">My Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/all-users">
                        <span class="icon"><i class="fas fa-user-friends"></i></span>
                        <span class="item">Manage Users</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/add-product">
                        <span class="icon"><i class="fas fa-database"></i></span>
                        <span class="item">Add Product</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/all-products">
                        <span class="icon"><i class="fas fa-tachometer-alt"></i></span>
                        <span class="item">Manage Products</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/add-category">
                        <span class="icon"><i class="fas fa-chart-line"></i></span>
                        <span class="item">Add Category</span>
                    </a>
                </li>
                  <li>
                    <a href="/admin/manage-category">
                        <span class="icon"><i class="fas fa-chart-line"></i></span>
                        <span class="item">Manage Category</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/view-orders">
                        <span class="icon"><i class="fas fa-user-shield"></i></span>
                        <span class="item">Manage Orders</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/logout">
                        <span class="icon"><i class="fas fa-cog"></i></span>
                        <span class="item">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
        
    </div>


  
