<div class="container mt-5">
    <div class="bs-example row">
        


        <div class="col-md-12 col-sm-12">


            <div class="tab-content" id="list">
                <div id="sectionA">
                    <div id="click-div" onclick="myFunction()">+ ADD ADDRESS</div>
                    <div id="section-A" class="tab-pane d-none mt-4">

                        <form action="/add-address" method="post">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">First Name</label>
                                    <input type="text" name="firstname" class="form-control" id="inputEmail4"
                                        placeholder="First Name">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Last Name</label>
                                    <input type="text" name="lastname" class="form-control" id="inputEmail4"
                                        placeholder="Last Name">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Email</label>
                                    <input type="email" name="email" class="form-control" id="inputEmail4"
                                        placeholder="Email">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Phone</label>
                                    <input type="text" name="phone" class="form-control" id="inputEmail4"
                                        placeholder="Mobile Number">
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="inputAddress">Address</label>
                                <input type="text" class="form-control" id="inputAddress" name="address1"
                                    placeholder="Street Address">
                            </div>
                            <div class="form-group">
                                <label for="inputAddress2">Address 2</label>
                                <input type="text" class="form-control" id="inputAddress2" name="address2"
                                    placeholder="Apartment, studio, or floor">
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-3 col-10">
                                    <label for="inputZip">Zip</label>
                                    <input type="text" class="form-control" name="pin" placeholder="Pincode" id="zip">
                                </div>
                                <div class="col-md-3 col-2 mt-4 d-flex">
                                    <div class="mt-2"><button type="button" id="pin_button" class="btn btn-warning"
                                        
                                        onclick="pinSearch(document.getElementById('zip').value)">Search</button></div>
                                       
                                  <div class="spinner-border text-success mt-2" id="spinner" role="status"
                                    style="visibility: hidden; margin-left: -55px;">
                                    <span class="sr-only">Loading...</span>
                                    </div>
                                </div>  
                               

                                <div class="form-group col-md-6" >
                                    <label for="inputOffice">Post Offie</label>
                                    <input type="text" class="form-control" name="office" id="office"
                                        placeholder="Post Office">
                                </div>
                            </div>



                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputCity">City</label>
                                    <input type="text" class="form-control" name="city" id="city" placeholder="City">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputState">State</label>
                                    <input type="text" list="state" id="state" name="state" class="form-control"
                                        placeholder="Pick a State" />
                                </div>




                            </div>
                            <button type="submit" class="btn btn-success btn-md">Submit</button>
                        </form>
                    </div>
                    
                </div>

                
            </div>

        </div>

    </div>
</div>